name: Build Python Package

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write
jobs:
  build:
    strategy:
      matrix:
        python-version: [3.12]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Publish package distributions to PyPI
      run: |
        pdm install
        pdm build --no-isolation
